<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group [selectedIndex]="selected" mat-stretch-tabs class="example-stretched-tabs" >
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="signInForm"  >
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                required
                [(ngModel)]="login.username"
                formControlName="username">
              <mat-error *ngIf="signInForm.get('username').hasError('required')">UserName is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-pass-toggle-visibility #toggle3  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle3.type"
                matInput
                placeholder="Password"
                required
                id="password"
                [(ngModel)]="login.password"
                formControlName="password">
              <mat-error
                *ngIf="signInForm.get('password').hasError('required')">
                Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button"
              type="submit"
              (tsSubmitIfValid)="signIn()">
              Sign In
            </button>

            <button
              mat-raised-button
              class="login-button">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="signUpForm"   >
            <mat-form-field>
              <mat-label>You are </mat-label>
              <mat-select
                [(ngModel)]="selectedItem"
                name="type"
                (selectionChange)="editControls($event)"
                [ngModelOptions]="{standalone: true}"
              >
                <mat-option value="Agency"> Agency </mat-option>
                <mat-option value="Person"> Person </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Person'">
              <input
                matInput
                placeholder="Firstname"
                required
                formControlName="firstname"
                [(ngModel)]="user.firstName"
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="!firstname.valid && firstname.touched">
                {{ getErrorFirstname() }}
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Person'">
              <input
                matInput
                placeholder="lastName"
                required
                name="lastName"
                [(ngModel)]="user.lastName"
                formControlName="lastname">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="!lastname.valid && lastname.touched">
                {{ getErrorLastname() }}
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Agency'">
              <input
                matInput
                placeholder="Agency name"
                required
                formControlName="agencyname"
                [(ngModel)]="user.agencyName"
                >
              <mat-icon matSuffix>business</mat-icon>
              <mat-error *ngIf="!agencyname.valid && agencyname.touched">
                {{ getErrorAgencyName() }}
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Agency'">
              <input
                matInput
                placeholder="Tax registration"
                required
                formControlName="taxregistration"
                [(ngModel)]="user.taxRegistration">
              <mat-icon matSuffix>list_alt</mat-icon>
              <mat-error *ngIf="!taxregistration.valid && taxregistration.touched">
                {{ getErrorTaxRegistration() }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="userName"
                formControlName="username"
                [(ngModel)]="user.username">
<!--                (blur)="Existence('username'); this.isUsernameFocused= true"-->
<!--                [ngModel]="selectedItem === 'Person' ? client.username : agency.username"-->
<!--                (ngModelChange)="selectedItem === 'Person' ? (client.username = $event) : (agency.username = $event)"-->
              <!--                [(ngModel)]="selectedItem === 'Person' ? client.email : agency.email"-->
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="!username.valid && username.touched">
                {{ getErrorUsername() }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                formControlName="email"
              [(ngModel)]="user.email">
<!--                (blur)="Existence('email'); isEmailFocused = true"-->
<!--                [ngModel]="selectedItem === 'Person' ? client.email : agency.email"-->
<!--                (ngModelChange)="selectedItem === 'Person' ? (client.email = $event) : (agency.email = $event)"-->
              <mat-error *ngIf="!email.valid && email.touched">
                {{ getErrorEmail() }}
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-pass-toggle-visibility #toggle  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle.type"
                matInput
                placeholder="Password"
                type="password"
                required
                formControlName="password"
                [(ngModel)]="user.password">
<!--                [ngModel]="selectedItem === 'Person' ? client.password : agency.password"-->
<!--                (ngModelChange)="selectedItem === 'Person' ? (client.password = $event) : (agency.password = $event)"-->
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.required">-->
<!--                Password is required-->
<!--              </mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.minlength">-->
<!--                Password must be of length 6-->
<!--              </mat-error>-->
              <mat-hint *ngIf="repassword.untouched">Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
              <mat-error *ngIf="!password.valid && password.touched">
                {{ getErrorPassword() }}
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field >
              <mat-pass-toggle-visibility #toggle2  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle2.type"
                matInput
                placeholder="Confirm password"
                type="password"
                required
                minlength="6"
                name="repassword"
                formControlName="repassword"
               >
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="!repassword.valid && repassword.touched">
                {{ getErrorRepassword() }}
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="login-button"
              (tsSubmitIfValid)="register()" >
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
