
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Royal<span>estate</span></a>
    <button mat-raised-button color="primary" style="height: 40px"  routerLink="/localAdd"><mat-icon matSuffix>add</mat-icon>  Place your ad</button>


    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="property.html" class="nav-link">Property</a></li>
        <li class="nav-item"><a href="agents.html" class="nav-link">Agents</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="contact"  class="nav-link">Contact</a></li>
        <li class="nav-item cta"><a  [routerLink]="['/sign',0]" class="nav-link ml-lg-2" [hidden]="isLoggedIn"><span class="icon-user"></span> Sign-In</a></li>
        <li class="nav-item cta cta-colored"><a [routerLink]="['/sign',1]" class="nav-link" [hidden]="isLoggedIn"><span class="icon-pencil"></span> Sign-Up</a></li>
        <li class="nav-item"><a  [routerLink]="['userProfile']" class="nav-link" [hidden]="!isLoggedIn"><span class="icon-user"></span>&nbsp;&nbsp;<u><b>{{username}}</b></u></a ></li>
        <li (click)="logOut()" class="nav-item cta cta-colored"  ><a    class="nav-link" [hidden]="!isLoggedIn" ><span class="icon-sign-in"></span> Log-Out</a></li>
      </ul>
    </div>
  </div>
</nav>


