<div class="hero-wrap" style="background-image: url('../../../assets/images/bg_1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <h1 class="mb-3 bread">Agents</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light  "  style="width: 1800px">
  <div class="container " >
    <div class="row">
      <div class="col-md-6 col-lg-3 ">
        <div class="staff">
          <div class="img" style="background-image: url(../../../assets/images/person_1.PNG);"></div>
          <div class="text pt-4">
            <h3><a href="#">ZAROUI Montassar</a></h3>
            <span class="position mb-2">CEO</span>
            <p>ENA BASLA l miboun</p>
            <ul class="ftco-social d-flex " >
              <li ><a href="#"><span class="icon-twitter"></span></a></li>
              <li ><a href="#"><span class="icon-facebook"></span></a></li>
              <li ><a href="#"><span class="icon-google-plus"></span></a></li>
              <li ><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="staff">
          <div class="img" style="background-image: url(../../../assets/images/person_2.PNG);"></div>
          <div class="text pt-4">
            <h3><a href="#">MANAI karim</a></h3>
            <span class="position mb-2">COT</span>
            <p>ceajer ceajer </p>
            <ul class="ftco-social d-flex">
              <li ><a href="#"><span class="icon-twitter"></span></a></li>
              <li ><a href="#"><span class="icon-facebook"></span></a></li>
              <li ><a href="#"><span class="icon-google-plus"></span></a></li>
              <li ><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="staff">
          <div class="img" style="background-image: url(../../../assets/images/person_3.PNG);"></div>
          <div class="text pt-4">
            <h3><a href="#">JADOUI bassem</a></h3>
            <span class="position mb-2">jard satgiaire</span>
            <p>ma7abbouch yencadriw zebbi ta7ana zouz li 3allisar</p>
            <ul class="ftco-social d-flex">
              <li ><a href="#"><span class="icon-twitter"></span></a></li>
              <li ><a href="#"><span class="icon-facebook"></span></a></li>
              <li ><a href="#"><span class="icon-google-plus"></span></a></li>
              <li ><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
