<mat-horizontal-stepper linear #stepper style="width: 800px;margin: 0 auto" >
<!-- ************************************  1st stepper  ***************************************-->
  <mat-step [stepControl]="firstFormGroup"  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your ad properties</ng-template>
      <table align="center">
        <tr>
          <td>
            Transaction Type :
          </td>
          <td>
            <mat-button-toggle-group formControlName="TransactionType" [(ngModel)]="this.local.transactionType" appearance="legacy" name="fontStyle" aria-label="Font Style">
              <mat-button-toggle  value="Rent">For Rent</mat-button-toggle>
              <mat-button-toggle value="Sale">For Sale</mat-button-toggle>
            </mat-button-toggle-group>
          </td>
        </tr>
        <tr>
          <td>
            Ad Type :
          </td>
          <td>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="Type" [(ngModel)]="this.local.type">
                <mat-option value="House" > House </mat-option>
                <mat-option value="Field" > Field </mat-option>
                <mat-option value="Apartment" > Apartment  </mat-option>
                <mat-option value="Office" > office  </mat-option>
                <mat-option value="villa" > Villa  </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- ************************************  2nd stepper  ***************************************-->
  <mat-step [stepControl]="secondFormGroup"  >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out some numbers</ng-template>
      <table align="center">
        <tr>
          <td>
            Area  :
          </td>
          <td>
            <mat-form-field >
              <mat-label>Area</mat-label>
              <input matInput type="number" placeholder="Area" [(ngModel)]="this.local.area" formControlName="Area"   >
              <span matPrefix>m²&nbsp;</span>
            </mat-form-field>
          </td>
        </tr>
        <tr  *ngIf="this.local.type != 'Field'">
          <td>
            Rooms Number :
          </td>
          <td>
            <mat-form-field>
              <mat-label>Rooms Number</mat-label>
              <input matInput placeholder="Area" type="number" [(ngModel)]="this.local.roomsNumber" [ngModelOptions]="{standalone: true}"  >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
              Price :
          </td>
          <td>
            <mat-form-field >
              <mat-label>Price </mat-label>
              <input matInput placeholder="Price" type="number" [(ngModel)]="this.local.price" formControlName="Price"  >
              <span matPrefix>TND&nbsp;</span>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- ************************************  3rd stepper  ***************************************-->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
    <ng-template matStepLabel>Describe you ad</ng-template>
    <table align="center">
      <tr>
        <td>
          Address :
        </td>
        <td>
          <mat-form-field >
            <mat-label>Adress</mat-label>
            <input matInput type="text"  [(ngModel)]="this.local.address" formControlName="Address"    >
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          Description :
        </td>
        <td>
          <mat-form-field >
            <mat-label>Description</mat-label>
            <textarea matInput   [(ngModel)]="this.local.description" formControlName="Description"  ></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput
                   type="file"
                   accept="image/*"
                   (change)="onSelectFile($event)"
                    style="height: 100%"
                    multiple>
          </label>
        </td>
      </tr>
    </table>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button  mat-raised-button color="primary" matStepperNext (click)="addLocal()">Next</button>
    </div>
    </form>
  </mat-step>
  <mat-step >
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Done</ng-template>

      <div>
       <h1>Thank you for submitting your ad !<br> we will verify you ad as soon as possible</h1>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
