
<section class="ftco-section">
  <div class="container">
      <div >
        <div class="row">
          <div class="col-md-12 " >
            <div class="wrapper">
              <ngx-ui-carousel [infinite]="true" [speed]="500" width="1100px" height="500px" >
                <ngx-ui-carousel-item >
                  <img src="../../../assets/images/bg_1.jpg" width="1100px" height="500px" alt="" >
                </ngx-ui-carousel-item>
                <ngx-ui-carousel-item>
                  <img src="../../../assets/images/bg_2.jpg" width="1100px" height="500px" alt="" >
                </ngx-ui-carousel-item>
                <ngx-ui-carousel-item>
                  <img src="../../../assets/images/bg_2.jpg" width="1100px" height="500px" alt="" draggable="false">
                </ngx-ui-carousel-item>
              </ngx-ui-carousel>
            </div>
          </div>
          <div class="col-md-12 Properties-single mt-4 mb-5 ">
            <h2>{{this.local.price}} TND </h2>
            <p class="rate mb-4">
              <span class="loc"><a href="#"><i class="icon-map"></i> {{this.local.address}}</a></span>
            </p>
            <p>{{this.local.description}}</p>
            <div class="d-md-flex mt-5 mb-5">
              <ul>
                <li><span>Type: </span> {{this.local.type}}</li>
                <li><span>Lot Area: </span> {{this.local.area}} m²</li>
                <li><span> Rooms: </span> {{this.local.roomsNumber}}</li>
                <li><span>Transaction type: </span> For {{this.local.transactionType}}</li>
              </ul>
              <ul class="ml-md-5">
                <li *ngIf="local.user.phoneNumber !== null"><span>Owner phone number: </span>  {{this.local.user.phoneNumber}}</li>
                <li *ngIf="local.user.phoneNumber === null"><span>Owner phone number: </span>  NOT PROVIDED YET </li>
                <li><span>Owner email address : </span> {{this.local.user.email}}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>





