<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab"  [ngClass]="(this.selected === 'active')?'nav-link':'nav-link active'">Edit</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#wishList" data-toggle="tab" [ngClass]="(this.selected === 'active')?'nav-link active':'nav-link'" >Wish List</a>
        </li>
      </ul>
      <div class="tab-content py-4">

        <div [ngClass]="(this.selected === 'active')?'tab-pane active':'tab-pane'" class="tab-pane " id="wishList">

        </div>

        <div [ngClass]="(this.selected === 'active')?'tab-pane':'tab-pane active'" id="edit">
          <form role="form">
            <div class="form-group row"  *ngIf="user.dtype === 'Client'">
              <label class="col-lg-3 col-form-label form-control-label">First name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="this.user.firstName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group row"  *ngIf="user.dtype === 'Client'">
              <label class="col-lg-3 col-form-label form-control-label">Last name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text"  [(ngModel)]="this.user.lastName" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Username</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="this.user.username" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group row"  *ngIf="user.dtype === 'Agency'">
              <label class="col-lg-3 col-form-label form-control-label">Agency Name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="this.user.agencyName" [ngModelOptions]="{standalone: true}"  >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="email"  [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Phone number</label>
              <div class="col-lg-9">
                <input class="form-control" type="url" [(ngModel)]="this.user.phoneNumber" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="form-group row"  *ngIf="user.dtype === 'Agency'">
              <label class="col-lg-3 col-form-label form-control-label">Tax Registration</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" disabled [(ngModel)]="this.user.taxRegistration" [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Old password</label>
              <div class="col-lg-9">
                <input class="form-control" type="password" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">New password</label>
              <div class="col-lg-9">
                <input class="form-control" type="password" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Cancel">
                <input type="button" class="btn btn-primary" value="Save Changes">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <h6 class="mt-2">Upload a different photo</h6>
      <label class="custom-file">
        <input type="file" accept="image/*" (change)="onSelectFile($event)" id="file" class="custom-file-input">
        <span class="custom-file-control">Choose file</span>
      </label>
    </div>
  </div>
</div>
