<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group [selectedIndex]="selected" mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="signInForm" (ngSubmit)="signInForm.valid" novalidate >
            <mat-form-field>
              <input
                matInput
                placeholder="Email/Username"
                required
                name="emailUsername"
                formControlName="emailUsername"
                #emailUsername>
              <mat-error *ngIf="signInForm.get('emailUsername').hasError('minlength')">email/Username must be of length 4</mat-error>
              <mat-error *ngIf="signInForm.get('emailUsername').hasError('required')">Email/UserName is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-pass-toggle-visibility #toggle3  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle3.type"
                matInput
                placeholder="Password"
                type="password"
                required
                name="password"
                formControlName="password"
                #password>
              <mat-error
                *ngIf="signInForm.get('password').hasError('required')">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="signInForm.get('password').hasError('minlength')">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign In
            </button>

            <button
              mat-raised-button
              class="login-button">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="signUpForm"  action="">
            <mat-form-field>
              <mat-label>You are </mat-label>
              <mat-select
                [(ngModel)]="selectedItem"
                name="type"
                (selectionChange)="changeSelection()"
                [ngModelOptions]="{standalone: true}"
                #type
              >
                <mat-option value="Agency"> Agency </mat-option>
                <mat-option value="Person"> Person </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Agency'">
              <input
                matInput
                placeholder="Agency name"
                required
                name="agencyName"
                formControlName="agencyName"
                [(ngModel)]="agency.agencyName"
                #agencyName>
              <mat-icon matSuffix>business</mat-icon>
              <mat-error
                *ngIf="signUpForm.get('agencyName').hasError('required')">
                Agency name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Agency'">
              <input
                matInput
                placeholder="Tax registration"
                required
                name="taxRegistration"
                formControlName="taxRegistration"
                [(ngModel)]="agency.taxRegistration"
                #taxRegistration>
              <mat-icon matSuffix>list_alt</mat-icon>
              <mat-error
                *ngIf="signUpForm.get('taxRegistration').hasError('required')">
                Tax registration is required
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Person'">
              <input
                matInput
                placeholder="Firstname"
                required
                name="firstName"
                formControlName="firstName"
                [(ngModel)]="this.client.firstName"
                #firstName>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="signUpForm.get('firstName').hasError('required')">
                Firstname is required
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedItem=='Person'">
              <input
                matInput
                placeholder="lastName"
                required
                name="lastName"
                [(ngModel)]="this.client.lastName"
                formControlName="lastName"
                #lastname>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="signUpForm.get('lastName').hasError('required')">
                Lastname is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="userName"
                formControlName="userName"
                [(ngModel)]="selectedItem == 'Person' ? client.username : agency.username"/>



              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="signUpForm.get('userName').hasError('required')">
                Username is required
              </mat-error>
              <mat-error
                *ngIf="signUpForm.get('userName').hasError('minlength')">
                UserName must be of length 4
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                formControlName="email"
                (change)="searchEmail()"
                [(ngModel)]="selectedItem == 'Person' ? client.email : agency.email"
                #email>
<!--              <mat-error *ngIf="signUpForm.get('email').hasError('email')">Wrong email</mat-error>-->
<!--              <mat-error *ngIf="signUpForm.get('email').hasError('required')">Email is required</mat-error>-->
              <mat-error *ngIf="isEmailExist==true">A user with this email are already registered</mat-error>

              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-pass-toggle-visibility #toggle  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle.type"
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                formControlName="password"
                [(ngModel)]="selectedItem == 'Person' ? client.password : agency.password"
                #password
               >
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.required">-->
<!--                Password is required-->
<!--              </mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="password.errors && password.errors.minlength">-->
<!--                Password must be of length 6-->
<!--              </mat-error>-->
              <mat-error *ngIf="signUpForm.get('password').hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">Password must be of length 6</mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <mat-pass-toggle-visibility #toggle2  matSuffix></mat-pass-toggle-visibility>
              <input
                [type]="toggle2.type"
                matInput
                placeholder="rePassword"
                type="password"
                required
                minlength="6"
                name="repassword"
                formControlName="rePassword"

               >
<!--              <mat-error-->
<!--                *ngIf="repassword.errors && repassword.errors.required ">-->
<!--                Re-Enter Password is required-->
<!--              </mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="repassword.errors && repassword.hasError('validator') ">-->
<!--                Re-Enter Password is required-->
<!--              </mat-error>-->
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="signUpForm.get('rePassword').hasError('required')">Re-Enter Password required</mat-error>
              <mat-error *ngIf="! signUpForm.get('rePassword').hasError('required')">Password must match</mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="register()"
              class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
